﻿<ion-view view-title="settings">
    <ion-header-bar class="bar-header bar-dark">
        <div class="buttons">
            <button class="button button-clear icon ion-bag"></button>
        </div>
        <div class="title">Settings</div>
    </ion-header-bar>
    <ion-content class="padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div class="list">
            <a class="item item-icon-left" ng-click="resetData()">
                <i class="icon ion-android-refresh"></i>
                Reset all data
            </a>
        </div>
        <ion-list>
                <p ng-repeat="item in localStoragePair">
                   <b>{{item.key}}</b> : {{item.value}}
                </p>
        </ion-list>
    </ion-content>
</ion-view> 