﻿<ion-popover-view>
    <ion-content class="contendheight">
        <div class="col col-25 imgcontainer">
            <img src="/user-male.png" alt="sdfds" />
        </div>
    </ion-content>
</ion-popover-view>