﻿<ion-view view-title="Login">

    <ion-content class="padding has-header">
        <div >
            <img src="eepl_logo.png" style="position:relative;top:50px;width:40%;left:30%"/>
            <div style="position:relative;width:100%;top:67px" >
                <div class="list">
                    <label class="item item-input">
                        <input ng-model="loginData.TIN" type="text" placeholder="TIN">
                    </label>
                    <label class="item item-input">
                        <input ng-model="loginData.phoneNo" type="text" placeholder="Phone No">
                    </label>
                </div>
                <button class="button button-block button-positive" ng-click="login()">
                    Proceed
                </button>
                <ion-spinner icon="ripple" class="spinner-assertive"></ion-spinner>
                <a class="button button-clear button-assertive" href="#/register">
                    Not yet registered!
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>