﻿<ion-view view-title="Order List" style="background-color:InactiveBorder;">
    <ion-nav-buttons side="right">
        <a style="color: black;" class="button button-icon icon ion-android-notifications parent">
            <span class="badge badge-assertive child">2</span>
        </a>
        <button ng-click="openPopover($event)" class="button button-icon icon ion-android-star"></button>
    </ion-nav-buttons>
    <div class="bar bar-subheader" style="padding: 0px;">
        <div class="button-bar" style="left:40%;">
            <!--<a class="button">First</a>-->
            <a class="button item-icon-left" ng-click="filterBy()" style="height: 48px;">
                <i class="icon ion-funnel" style="font-size:large;left:20%;top:-16%">Filter by</i>
                <div style="position:absolute;top:41%;left:30%;font-size:medium;font-weight:bold;">
                    ({{data.filterChoice}})
                </div>
              
            </a>
            <a class="button item-icon-left" ng-click="orderBy()" style="height: 48px;">
                <i class="icon ion-stats-bars" style="font-size:large;left:17%;top:-16%">Order by</i>
                <div style="position:absolute;top:41%;left:15%;font-size:medium;font-weight:bold;">
                    ({{data.orderChoice}})
                </div>

            </a>
        </div>
    </div>
    <ion-spinner icon="ripple" class="spinner-assertive">ff</ion-spinner>
    <ion-content class="padding has-subheader">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div class="list card">
            <div class="item" ng-repeat="order in orderList" style="padding:0px">
                <div class="row">
                    <div class="col col-25 imgcontainer" ng-click="onConsumerClick(order)">
                        <img src="user-male.png" />
                    </div>
                    <div class="col col-75 " ng-click="onOrderClick(order)">
                        <h2 class="{{getStyle(order)}}">{{order.orderDate}}</h2>
                        <p>{{order.status}}</p>
                        <p>{{order.consumer_id}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="orderList.length === 0" style="font-size:x-large">
            No Orders placed yet!
        </div>
    </ion-content>
</ion-view>
<script id="my-popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-content class="contendheight">
            <div class="list">
                <a class="item item-icon-left" href="#/invitation" ng-click="closePopover()">
                    <i class="icon ion-android-person-add"></i>
                    Invite Customer
                </a>
                <a class="item item-icon-left" href="#/legal" ng-click="closePopover()">
                    <i class="icon ion-document"></i>
                    Legal
                </a>
                <a class="item item-icon-left" href="#/settings" ng-click="closePopover()">
                    <i class="icon ion-ios-gear"></i>
                    Settings
                </a>
                <a class="item item-icon-left" href="#/app/contactus" ng-click="closePopover()">
                    <i class="icon ion-android-contact"></i>
                    Contact Us
                </a>
            </div>
        </ion-content>
    </ion-popover-view>
</script>
<style type="text/css">
    .parent {
        position: relative;
    }

    .child {
        position: absolute !important;
        left: 20px;
        top: 4px !important;
        width: auto;
        height: 17px;
    }

    .RED {
        background-color: rgb(247, 171, 171);
    }

    .GREEN {
        background-color: rgb(189, 243, 176);
    }

    .BLUE {
        background-color: rgb(153, 166, 229);
    }

    .WHITE {
        background-color: white;
    }
</style>