﻿<ion-view title="PrintPreview" id="listItem" >

    <ion-header-bar class="bar-stable">
        <h1 class="title">Consumer Order Details</h1>
    </ion-header-bar>
    <ion-content>
        <div class="row header">
            <div class="col"> Order Id</div>
            <div class="col">Product Name</div>
            <div class="col"> Qty</div>
            <div class="col"> Price</div>
        </div>
        <div class="row" ng-repeat="data in orderDetail">
            <div class="col">{{data.order_id}}</div>
            <div class="col">{{data.name}}</div>
            <div class="col">{{data.quantity}}</div>
            <div class="col">{{data.price}}</div>
        </div>


    </ion-content>
    <ion-footer-bar class="bar-stable">
        <button class="button button-positive" ng-click="printPage()">Print this Page</button>

    </ion-footer-bar>
</ion-view>

<style type="text/css">
    .header .col {
        background-color: lightgrey;
    }

    .col {
        border: solid 1px grey;
        border-bottom-style: none;
        border-right-style: none;
    }

        .col:last-child {
            border-right: solid 1px grey;
        }

    .row:last-child .col {
        border-bottom: solid 1px grey;
    }
</style>