﻿<ion-view view-title="Register">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="TIN No" ng-model="form.TIN">
            </label>
            <label class="item item-input item-floating-label">
                <input type="text" placeholder="Email" ng-model="form.email">
            </label>
            <label class="item item-input item-floating-label">
                <input type="text" placeholder="Phone No" ng-model="form.mobileNo">
            </label>
            <label class="item item-input item-floating-label">
                <input type="text" placeholder="First Name" ng-model="form.name">
            </label>
        </div>
        <div class="list list-inset">
            <label class="item item-input item-floating-label">
                <input type="text" placeholder="Store Name" ng-model="form.storename">
            </label>
            <label class="item item-input item-floating-label">
                <input type="text" placeholder="Street" ng-model="form.street">
            </label>
            <label class="item item-input item-floating-label">
                <input type="text" placeholder="Zipcode" ng-model="form.zipcode">
            </label>
        </div>
        <!--</div>-->
        <button class="button button-block button-positive" ng-click="register()">
            Register
        </button>
    </ion-content>
</ion-view>
<style type="text/css">
    .error-tag {
        color: red;
    }
</style>