﻿<ion-view view-title="Order Detail(#{{order.id}})">
    <ion-content class="padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div class="item item-avatar" style="background-color: gainsboro;">
            <img src="/user-male.png">
            <h2>{{consumerDetail.name}}</h2>
            <p>{{consumerDetail.date_of_birth}}</p>
        </div>
        <div class="list">
            <div class="item" ng-repeat="(key,value) in orderDetail">
                <div class="item item-divider" ng-click="toggleCategory(value)">
                    {{key}}
                </div>
                <a class="item" ng-repeat="item in value" ng-show="showCategory(value)">
                    <div class="row">
                        <div class="col col-60">
                            {{item.name}}
                        </div>
                        <div class="col col-20">
                            {{item.price}}
                        </div>
                        <div class="col col-20 qtyBadge">
                            {{item.quantity | number: 0}}
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <button class="button button-positive" ng-click="orderCompleted()">
            Order Completed
        </button>
        <button class="button button-royal"  ng-click="printPreviewData()">Print</button>
    </ion-content>
</ion-view>
<style>
    .qtyBadge {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 8px;
        background: #EEEFEE;
        border: 0px solid #666;
        color: #666;
        text-align: center;
        font: 17px Arial, sans-serif;
    }
</style>