﻿<ion-view view-title="Invite Customer">
    <ion-content class="padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Customer Phone No</span>
                <input type="text" ng-model="data.phoneno" placeholder="Customer Phone No">
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="sendInvitation()">
            Invite
        </button>
    </ion-content>
</ion-view>